                                                    ASSIGNMENT-1

                                                    WEB SCRAPING
                                                    
In all the following questions, you have to use BeautifulSoup to scrape different websites and collect data as per
the requirement of the question.

Every answer to the question should be in form of a python function which should take URL as the parameter.
Use Jupyter Notebooks to program, upload it on your GitHub and send the link of the Jupyter notebook to
your SME.


Submitted by : Amit Puri Goswami

Batch No.      :   1843

Project: Internship 30

# 1) Write a python program to display all the header tags from wikipedia.org.

In [2]:

from bs4 import BeautifulSoup
import requests
# https://www.wikipedia.org

In [27]:
def get_header():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of website for which header tags will be scrapped : ")
    page = requests.get(url)
    page
    soup=BeautifulSoup(page.content)
    titles = []
    for i in soup.find_all(['h1', 'h2','h3','h4','h5','h6']):
        titles.append(i.text)
    for x in range(len(titles)):
        print(titles[x])

In [28]:
get_header()

#https://en.wikipedia.org/wiki/Main_Page

Enter the name of website for which header tags will be scrapped : https://en.wikipedia.org/wiki/Main_Page
Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

# 2) Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release)
and make data frame.

In [8]:
def get_imdb_title():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of imdb website : ")
    page = requests.get(url)
    soup=BeautifulSoup(page.content)
    movies_titles = []
    for i in soup.find_all('td',class_="titleColumn"):
        movies_titles.append(i.text)
    for x in range(0,100):
        print(movies_titles[x])

In [9]:
get_imdb_title()

#https://www.imdb.com/chart/top/

Enter the name of imdb website : https://www.imdb.com/chart/top/

      1.
      The Shawshank Redemption
(1994)


      2.
      The Godfather
(1972)


      3.
      The Dark Knight
(2008)


      4.
      The Godfather Part II
(1974)


      5.
      12 Angry Men
(1957)


      6.
      Schindler's List
(1993)


      7.
      The Lord of the Rings: The Return of the King
(2003)


      8.
      Pulp Fiction
(1994)


      9.
      The Lord of the Rings: The Fellowship of the Ring
(2001)


      10.
      Il buono, il brutto, il cattivo
(1966)


      11.
      Forrest Gump
(1994)


      12.
      Fight Club
(1999)


      13.
      Inception
(2010)


      14.
      The Lord of the Rings: The Two Towers
(2002)


      15.
      The Empire Strikes Back
(1980)


      16.
      The Matrix
(1999)


      17.
      Goodfellas
(1990)


      18.
      One Flew Over the Cuckoo's Nest
(1975)


      19.
      Se7en
(1995)


      20.
      Shichinin no samurai
(1954)


      21.
      It's a Wonderful Life
(1946)


      22.
      The Silence of the Lambs
(1991)


      23.
      Cidade de Deus
(2002)


      24.
      Saving Private Ryan
(1998)


      25.
      La vita è bella
(1997)


      26.
      The Green Mile
(1999)


      27.
      Interstellar
(2014)


      28.
      Star Wars
(1977)


      29.
      Terminator 2: Judgment Day
(1991)


      30.
      Back to the Future
(1985)


      31.
      Sen to Chihiro no kamikakushi
(2001)


      32.
      Psycho
(1960)


      33.
      The Pianist
(2002)


      34.
      Léon
(1994)


      35.
      Gisaengchung
(2019)


      36.
      The Lion King
(1994)


      37.
      Gladiator
(2000)


      38.
      American History X
(1998)


      39.
      The Departed
(2006)


      40.
      The Usual Suspects
(1995)


      41.
      The Prestige
(2006)


      42.
      Casablanca
(1942)


      43.
      Whiplash
(2014)


      44.
      The Intouchables
(2011)


      45.
      Seppuku
(1962)


      46.
      Hotaru no haka
(1988)


      47.
      Modern Times
(1936)


      48.
      Once Upon a Time in the West
(1968)


      49.
      Top Gun: Maverick
(2022)


      50.
      Rear Window
(1954)


      51.
      Alien
(1979)


      52.
      City Lights
(1931)


      53.
      Nuovo Cinema Paradiso
(1988)


      54.
      Apocalypse Now
(1979)


      55.
      Memento
(2000)


      56.
      Raiders of the Lost Ark
(1981)


      57.
      Django Unchained
(2012)


      58.
      WALL·E
(2008)


      59.
      The Lives of Others
(2006)


      60.
      Sunset Blvd.
(1950)


      61.
      Paths of Glory
(1957)


      62.
      The Shining
(1980)


      63.
      The Great Dictator
(1940)


      64.
      Witness for the Prosecution
(1957)


      65.
      Avengers: Infinity War
(2018)


      66.
      Aliens
(1986)


      67.
      American Beauty
(1999)


      68.
      Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb
(1964)


      69.
      Spider-Man: Into the Spider-Verse
(2018)


      70.
      The Dark Knight Rises
(2012)


      71.
      Oldeuboi
(2003)


      72.
      Joker
(2019)


      73.
      Amadeus
(1984)


      74.
      Braveheart
(1995)


      75.
      Toy Story
(1995)


      76.
      Coco
(2017)


      77.
      Das Boot
(1981)


      78.
      Inglourious Basterds
(2009)


      79.
      Mononoke-hime
(1997)


      80.
      Avengers: Endgame
(2019)


      81.
      Once Upon a Time in America
(1984)


      82.
      Good Will Hunting
(1997)


      83.
      Kimi no na wa.
(2016)


      84.
      Requiem for a Dream
(2000)


      85.
      Toy Story 3
(2010)


      86.
      Singin' in the Rain
(1952)


      87.
      3 Idiots
(2009)


      88.
      Star Wars: Episode VI - Return of the Jedi
(1983)


      89.
      Tengoku to jigoku
(1963)


      90.
      2001: A Space Odyssey
(1968)


      91.
      Eternal Sunshine of the Spotless Mind
(2004)


      92.
      Reservoir Dogs
(1992)


      93.
      Capharnaüm
(2018)


      94.
      Citizen Kane
(1941)


      95.
      Lawrence of Arabia
(1962)


      96.
      Jagten
(2012)


      97.
      M - Eine Stadt sucht einen Mörder
(1931)


      98.
      North by Northwest
(1959)


      99.
      Vertigo
(1958)


      100.
      Idi i smotri
(1985)

# 3) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [6]:
def get_ind_top100():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of imdb website : ")
    page = requests.get(url)
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')
    
    movies_titles = []
    for i in range(1,500,5):
        name = res[i].text.strip().split(".")[-1].strip().split("\n")[0]
        ratings = res[i+1].text.strip()
        year = res[i].text.strip().split(".")[-1].strip().split("\n")[-1][1:-1]
        movies_titles.append([name, year, ratings])
    import pandas as pd
    df = pd.DataFrame(data=movies_titles,columns=["Movie Name", "Release Year", "Ratings"])
    return(df)

In [7]:
d = get_ind_top100()
d

#https://www.imdb.com/india/top-rated-indian-movies/

Enter the name of imdb website : https://www.imdb.com/india/top-rated-indian-movies/

                     Movie Name Release Year Ratings
0    Rocketry: The Nambi Effect         2022     8.5
1                    Anbe Sivam         2003     8.4
2                       Golmaal         1979     8.4
3                      Jai Bhim         2021     8.4
4                       Nayakan         1987     8.4
..                          ...          ...     ...
95              Rang De Basanti         2006     8.0
96                       Baasha         1995     8.0
97  Baahubali 2: The Conclusion         2017     8.0
98                       Masaan         2015     8.0
99                      Kahaani         2012     8.0

[100 rows x 3 columns]

# 4) Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [8]:
def get_pres_ind():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of president website : ")
    page = requests.get(url)
    
    pres_ind = []
    soup = BeautifulSoup(page.content)
    for i in soup.find_all('div',class_="presidentListing"):
        pres_ind.append(i.text)
    for x in range(0,len(pres_ind)):
        print(pres_ind[x])

In [9]:
get_pres_ind()

#https://presidentofindia.nic.in/former-presidents.htm

Enter the name of president website : https://presidentofindia.nic.in/former-presidents.htm

Shri Ram Nath Kovind (birth - 1945)
Term of Office: 25 July, 2017 to 25 July, 2022
https://ramnathkovind.nic.in


Shri Pranab Mukherjee (1935-2020)
Term of Office: 25 July, 2012 to 25 July, 2017
http://pranabmukherjee.nic.in


Smt Pratibha Devisingh Patil (birth - 1934)
Term of Office: 25 July, 2007 to 25 July, 2012
http://pratibhapatil.nic.in


DR. A.P.J. Abdul Kalam (1931-2015)
Term of Office: 25 July, 2002 to 25 July, 2007
http://abdulkalam.nic.in


Shri K. R. Narayanan (1920 - 2005)
Term of Office: 25 July, 1997 to 25 July, 2002


Dr Shankar Dayal Sharma (1918-1999)
Term of Office: 25 July, 1992 to 25 July, 1997


Shri R Venkataraman (1910-2009)
Term of Office: 25 July, 1987 to 25 July, 1992


Giani Zail Singh (1916-1994)
Term of Office: 25 July, 1982 to 25 July, 1987


Shri Neelam Sanjiva Reddy (1913-1996)
Term of Office: 25 July, 1977 to 25 July, 1982


Dr. Fakhruddin Ali Ahmed (1905-1977)
Term of Office: 24 August, 1974 to 11 February, 1977


Shri Varahagiri Venkata Giri (1894-1980)
Term of Office: 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974


Dr. Zakir Husain (1897-1969)
Term of Office: 13 May, 1967 to 3 May, 1969


Dr. Sarvepalli Radhakrishnan (1888-1975)
Term of Office: 13 May, 1962 to 13 May, 1967


Dr. Rajendra Prasad (1884-1963)
Term of Office: 26 January, 1950 to 13 May, 1962

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:   

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.  

b) Top 10 ODI Batsmen along with the records of their team and rating.               

c) Top 10 ODI bowlers along with the records of their team and rating.

In [16]:
#Answer a

def top10_odi_men():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    odimen = []
    soup = BeautifulSoup(page.content)
    for i in soup.find_all('span',class_="u-hide-phablet"):
        odimen.append(i.text)
    for x in range(0,10):
        print("One Day International Rank ",x+1," team is : ",odimen[x])

In [17]:
top10_odi_men()

#https://www.icc-cricket.com/rankings/mens/team-rankings/odi

Enter the name of ICC website : https://www.icc-cricket.com/rankings/mens/team-rankings/odi
One Day International Rank  1  team is :  New Zealand
One Day International Rank  2  team is :  England
One Day International Rank  3  team is :  India
One Day International Rank  4  team is :  Pakistan
One Day International Rank  5  team is :  Australia
One Day International Rank  6  team is :  South Africa
One Day International Rank  7  team is :  Bangladesh
One Day International Rank  8  team is :  Sri Lanka
One Day International Rank  9  team is :  West Indies
One Day International Rank  10  team is :  Afghanistan

In [22]:
#Answer b    https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting

def top10_batsmen():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')

    player = []

    for i in range(1,len(res),5):
        n1 = res[i].text.strip()
        n2 = res[i+1].text.strip()
        n3 = res[i+2].text.strip()
        n4 = res[i+3].text.strip()
        player.append([n1, n2, n3, n4])
    
    for i in range(0,10):
        print(player[i])

    import pandas as pd
    df = pd.DataFrame(data=player,columns=["Player Name", "Team", "Ratings", "Record"])
    return(df)

In [25]:
a=top10_batsmen()
a.head(10)

Enter the name of ICC website : https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting
['Babar Azam', 'PAK', '892', '898 v West Indies, 10/06/2022']
['Imam-ul-Haq', 'PAK', '815', '815 v West Indies, 12/06/2022']
['Rassie van der Dussen', 'SA', '789', '796 v England, 19/07/2022']
['Quinton de Kock', 'SA', '784', '813 v Sri Lanka, 10/03/2019']
['Virat Kohli', 'IND', '767', '911 v England, 12/07/2018']
['Rohit Sharma', 'IND', '763', '885 v Sri Lanka, 06/07/2019']
['Ross Taylor', 'NZ', '744', '841 v Bangladesh, 05/06/2019']
['David Warner', 'AUS', '737', '880 v Pakistan, 26/01/2017']
['Jonny Bairstow', 'ENG', '732', '796 v India, 26/03/2021']
['Aaron Finch', 'AUS', '715', '798 v England, 25/06/2019']

             Player Name Team Ratings                         Record
0             Babar Azam  PAK     892  898 v West Indies, 10/06/2022
1            Imam-ul-Haq  PAK     815  815 v West Indies, 12/06/2022
2  Rassie van der Dussen   SA     789      796 v England, 19/07/2022
3        Quinton de Kock   SA     784    813 v Sri Lanka, 10/03/2019
4            Virat Kohli  IND     767      911 v England, 12/07/2018
5           Rohit Sharma  IND     763    885 v Sri Lanka, 06/07/2019
6            Ross Taylor   NZ     744   841 v Bangladesh, 05/06/2019
7           David Warner  AUS     737     880 v Pakistan, 26/01/2017
8         Jonny Bairstow  ENG     732        796 v India, 26/03/2021
9            Aaron Finch  AUS     715      798 v England, 25/06/2019

In [26]:
#Answer c    https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling

def top10_bowlermen():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')

    player = []

    for i in range(1,len(res),5):
        n1 = res[i].text.strip()
        n2 = res[i+1].text.strip()
        n3 = res[i+2].text.strip()
        n4 = res[i+3].text.strip()
        player.append([n1, n2, n3, n4])
    
    for i in range(0,10):
        print(player[i])

    import pandas as pd
    df = pd.DataFrame(data=player,columns=["Player Name", "Team", "Ratings", "Record"])
    return(df)

In [27]:
a= top10_bowlermen()
a.head(10)

Enter the name of ICC website : https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling
['Trent Boult', 'NZ', '697', '770 v West Indies, 22/06/2019']
['Jasprit Bumrah', 'IND', '682', '841 v West Indies, 01/11/2018']
['Shaheen Afridi', 'PAK', '681', '688 v West Indies, 10/06/2022']
['Josh Hazlewood', 'AUS', '679', '733 v England, 26/01/2018']
['Mujeeb Ur Rahman', 'AFG', '676', '712 v Ireland, 24/01/2021']
['Mehedi Hasan', 'BAN', '672', '725 v Sri Lanka, 25/05/2021']
['Matt Henry', 'NZ', '663', '691 v Bangladesh, 26/03/2021']
['Mohammad Nabi', 'AFG', '657', '657 v Zimbabwe, 09/06/2022']
['Rashid Khan', 'AFG', '651', '806 v Pakistan, 21/09/2018']
['Chris Woakes', 'ENG', '640', '711 v Sri Lanka, 04/07/2021']

        Player Name Team Ratings                         Record
0       Trent Boult   NZ     697  770 v West Indies, 22/06/2019
1    Jasprit Bumrah  IND     682  841 v West Indies, 01/11/2018
2    Shaheen Afridi  PAK     681  688 v West Indies, 10/06/2022
3    Josh Hazlewood  AUS     679      733 v England, 26/01/2018
4  Mujeeb Ur Rahman  AFG     676      712 v Ireland, 24/01/2021
5      Mehedi Hasan  BAN     672    725 v Sri Lanka, 25/05/2021
6        Matt Henry   NZ     663   691 v Bangladesh, 26/03/2021
7     Mohammad Nabi  AFG     657     657 v Zimbabwe, 09/06/2022
8       Rashid Khan  AFG     651     806 v Pakistan, 21/09/2018
9      Chris Woakes  ENG     640    711 v Sri Lanka, 04/07/2021

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
    
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [32]:
#Answer a

def top10_odi_women():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    odiwomen = []
    soup = BeautifulSoup(page.content)
    for i in soup.find_all('span',class_="u-hide-phablet"):
        odiwomen.append(i.text)
    for x in range(0,10):
        print("Women One Day International Rank ",x+1," team is : ",odiwomen[x])

In [33]:
top10_odi_women()

#https://www.icc-cricket.com/rankings/womens/team-rankings/odi

Enter the name of ICC website : https://www.icc-cricket.com/rankings/womens/team-rankings/odi
Women One Day International Rank  1  team is :  Australia
Women One Day International Rank  2  team is :  England
Women One Day International Rank  3  team is :  South Africa
Women One Day International Rank  4  team is :  India
Women One Day International Rank  5  team is :  New Zealand
Women One Day International Rank  6  team is :  West Indies
Women One Day International Rank  7  team is :  Bangladesh
Women One Day International Rank  8  team is :  Pakistan
Women One Day International Rank  9  team is :  Sri Lanka
Women One Day International Rank  10  team is :  Ireland

In [34]:
#Answer b    https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting

def top10_batswomen():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')

    player = []

    for i in range(1,len(res),5):
        n1 = res[i].text.strip()
        n2 = res[i+1].text.strip()
        n3 = res[i+2].text.strip()
        n4 = res[i+3].text.strip()
        player.append([n1, n2, n3, n4])
    
    for i in range(0,10):
        print(player[i])

    import pandas as pd
    df = pd.DataFrame(data=player,columns=["Player Name", "Team", "Ratings", "Record"])
    return(df)

In [35]:
a = top10_batswomen()
a.head(10)

Enter the name of ICC website : https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting
['Alyssa Healy', 'AUS', '785', '785 v England, 03/04/2022']
['Beth Mooney', 'AUS', '749', '748 v England, 03/04/2022']
['Natalie Sciver', 'ENG', '747', '755 v South Africa, 15/07/2022']
['Laura Wolvaardt', 'SA', '732', '741 v Australia, 22/03/2022']
['Meg Lanning', 'AUS', '710', '834 v New Zealand, 24/02/2016']
['Rachael Haynes', 'AUS', '701', '713 v West Indies, 15/03/2022']
['Amy Satterthwaite', 'NZ', '681', '756 v Australia, 02/03/2017']
['Tammy Beaumont', 'ENG', '667', '791 v India, 27/06/2021']
['Chamari Athapaththu', 'SL', '655', '691 v South Africa, 14/02/2019']
['Smriti Mandhana', 'IND', '649', '797 v England, 28/02/2019']

           Player Name Team Ratings                          Record
0         Alyssa Healy  AUS     785       785 v England, 03/04/2022
1          Beth Mooney  AUS     749       748 v England, 03/04/2022
2       Natalie Sciver  ENG     747  755 v South Africa, 15/07/2022
3      Laura Wolvaardt   SA     732     741 v Australia, 22/03/2022
4          Meg Lanning  AUS     710   834 v New Zealand, 24/02/2016
5       Rachael Haynes  AUS     701   713 v West Indies, 15/03/2022
6    Amy Satterthwaite   NZ     681     756 v Australia, 02/03/2017
7       Tammy Beaumont  ENG     667         791 v India, 27/06/2021
8  Chamari Athapaththu   SL     655  691 v South Africa, 14/02/2019
9      Smriti Mandhana  IND     649       797 v England, 28/02/2019

In [36]:
#Answer c    https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling

def top10_bowlerwomen():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of ICC website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')

    player = []

    for i in range(1,len(res),5):
        n1 = res[i].text.strip()
        n2 = res[i+1].text.strip()
        n3 = res[i+2].text.strip()
        n4 = res[i+3].text.strip()
        player.append([n1, n2, n3, n4])
    
    for i in range(0,10):
        print(player[i])

    import pandas as pd
    df = pd.DataFrame(data=player,columns=["Player Name", "Team", "Ratings", "Record"])
    return(df)

In [37]:
a= top10_bowlerwomen()
a.head(10)

Enter the name of ICC website : https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling
['Sophie Ecclestone', 'ENG', '761', '787 v Bangladesh, 27/03/2022']
['Jess Jonassen', 'AUS', '725', '808 v New Zealand, 10/04/2021']
['Megan Schutt', 'AUS', '722', '766 v West Indies, 11/09/2019']
['Shabnim Ismail', 'SA', '722', '755 v Ireland, 17/06/2022']
['Jhulan Goswami', 'IND', '644', '796 v England, 28/02/2007']
['Ayabonga Khaka', 'SA', '634', '680 v New Zealand, 17/03/2022']
['Rajeshwari Gayakwad', 'IND', '613', '613 v Sri Lanka, 07/07/2022']
['Hayley Matthews', 'WI', '612', '644 v Bangladesh, 18/03/2022']
['Katherine Brunt', 'ENG', '601', '796 v India, 03/02/2013']
['Marizanne Kapp', 'SA', '598', '749 v West Indies, 10/09/2021']

           Player Name Team Ratings                         Record
0    Sophie Ecclestone  ENG     761   787 v Bangladesh, 27/03/2022
1        Jess Jonassen  AUS     725  808 v New Zealand, 10/04/2021
2         Megan Schutt  AUS     722  766 v West Indies, 11/09/2019
3       Shabnim Ismail   SA     722      755 v Ireland, 17/06/2022
4       Jhulan Goswami  IND     644      796 v England, 28/02/2007
5       Ayabonga Khaka   SA     634  680 v New Zealand, 17/03/2022
6  Rajeshwari Gayakwad  IND     613    613 v Sri Lanka, 07/07/2022
7      Hayley Matthews   WI     612   644 v Bangladesh, 18/03/2022
8      Katherine Brunt  ENG     601        796 v India, 03/02/2013
9       Marizanne Kapp   SA     598  749 v West Indies, 10/09/2021

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
        
i) Headline

ii) Time

iii) News Link

In [69]:
#Answer i    https://www.cnbc.com/world/?region=world

def cnbc_headline():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    headlines = soup.find_all('li',class_="LatestNews-item")
    for x in headlines:
        print(x.text.strip("Ago"))

In [70]:
cnbc_headline()

Enter the name of cnbc website : https://www.cnbc.com/world/?region=world
11 Min AgoBiden says he's 'not worried' about China's increased aggression toward Taiwan
18 Min AgoConsumer confidence in housing just hit the lowest point in over a decade
19 Min AgoWhat the Inflation Reduction Act means for the buyback 'monsters'
26 Min AgoConsumer inflation expectations took a major dive in July,  Fed survey shows
31 Min AgoAxios to sell itself to Cox Enterprises for a reported $525 million
37 Min AgoGoldman says beware these stocks in a tough environment ahead
1 Hour AgoFinancial psychologist: Beware of money advice on social media
2 Hours AgoSarat Sethi has some stock picks to play inflation and a consumer slowdown
2 Hours AgoFor tech workers who missed IPO payday, time for job market rethink
2 Hours AgoNvidia warns on second-quarter revenue, shares dip
2 Hours AgoBed Bath & Beyond shares jump more than 60% as message board mentions soar
2 Hours AgoSoftBank dumps its entire stake in Uber as losses mount at its investment unit
2 Hours AgoWhat Cramer is watching Monday — IRA Act lifts EV and solar stocks, Pfizer's buy
2 Hours AgoAn explanation of the 'pain trade' on Wall Street
2 Hours Ago'Echoes of the Cold War' as Blinken heads to Africa, vying with Russia for influence
3 Hours AgoMonday's biggest analyst calls: Tesla, Amazon, First Solar, Roku, Apple, Carvana
3 Hours AgoGoldman Sachs says buy this biopharma stock that's poised to rally nearly 40%
3 Hours AgoDeadlock over Nord Stream gas turbine is not our fault: Siemens Energy CEO
4 Hours AgoStocks making the biggest moves in the premarket: Palantir, Signify Health and more
4 Hours AgoCash withdrawals in the UK soar as Brits grapple with the rising cost of livin
4 Hours AgoPalantir shares fall more than 12% following earnings report
4 Hours Ago5 things to know before the stock market opens Monday
4 Hours AgoJPMorgan upgrades First Solar, says climate bill could help boost the shares
5 Hours AgoRoku downgraded to sell by Pivotal, who says the stock should be shorted
5 Hours AgoThe market's biggest winners and losers in the climate, health and tax bill
6 Hours AgoJPMorgan downgrades shares of Carvana, cites risks to profitability in a worsening macro environment
6 Hours AgoUN chief calls latest Russian attack on nuclear plant 'suicidal'; Zaporizhzhia set for referendum
7 Hours AgoU.S. Treasury yields fall as investors weigh Fed rate hike outlook
9 Hours AgoSoftBank posts a $21.6 billion quarterly loss on its Vision Fund
9 Hours AgoEuropean stocks climb as traders assess earnings, economic data; Stoxx 600 up 1%

In [88]:
#Answer ii  https://www.cnbc.com/world/?region=world
def cnbc_time():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    headlines = soup.find('span',class_="MarketCard-lastTime")
    print(headlines)

In [89]:
cnbc_time()

Enter the name of cnbc website : https://www.cnbc.com/world/?region=world
None

In [95]:
# Answer iii   https://www.cnbc.com/world/?region=world
def cnbc_newslink():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    news_link = soup.find_all('div', class_='LatestNews-container')
    for i in range(0,len(news_link)):
        a = news_link[i].find('a')['href']
        print(a)

In [97]:
cnbc_newslink()

Enter the name of cnbc website : https://www.cnbc.com/world/?region=world
/pro/
https://www.cnbc.com/2022/08/08/top-gun-maverick-becomes-7th-highest-grossing-film-domestically.html
/pro/
https://www.cnbc.com/2022/08/08/these-30-companies-will-help-employees-pay-off-their-student-loans.html
/investingclub/
https://www.cnbc.com/2022/08/08/reconciliation-bill-includes-nearly-80-billion-for-irs-funding.html
https://www.cnbc.com/2022/08/08/biden-says-hes-not-worried-about-chinas-increased-aggression-toward-taiwan-following-pelosi-visit.html
https://www.cnbc.com/2022/08/08/consumer-confidence-in-housing-market-hits-lowest-in-over-a-decade.html
/pro/
https://www.cnbc.com/2022/08/08/consumers-expectations-of-future-inflation-decreased-significantly-in-win-for-the-federal-reserve.html
https://www.cnbc.com/2022/08/08/axios-to-sell-itself-to-cox-enterprises-for-525-million.html
/pro/
https://www.cnbc.com/2022/08/08/financial-psychologist-beware-of-money-advice-on-social-media.html
/pro/
https://www.cnbc.com/2022/08/08/for-tech-workers-who-missed-ipo-payday-time-for-job-market-rethink.html
https://www.cnbc.com/2022/08/08/nvidia-warns-on-second-quarter-revenue-shares-dip.html
https://www.cnbc.com/2022/08/08/bed-bath-beyond-shares-jump-30percent-as-message-board-mentions-soar.html
https://www.cnbc.com/2022/08/08/softbank-sells-entire-stake-in-uber-as-vision-fund-losses-mount.html
/investingclub/
/pro/
https://www.cnbc.com/2022/08/08/echoes-of-the-cold-war-as-blinken-heads-to-africa-vying-with-russia-for-influence.html
/pro/
/pro/
https://www.cnbc.com/2022/08/08/russia-gas-siemens-energy-ceo-says-turbine-dispute-is-not-our-fault.html
https://www.cnbc.com/2022/08/08/stocks-making-the-biggest-moves-in-the-premarket-palantir-signify-health-global-blood-therapeutics-and-more.html
https://www.cnbc.com/2022/08/08/uk-cash-withdrawals-hit-a-record-high-as-brits-grapple-with-inflation.html
https://www.cnbc.com/2022/08/08/palantir-pltr-earnings-q2-2022-.html
https://www.cnbc.com/2022/08/08/5-things-to-know-before-the-stock-market-opens-monday-august-8.html
/pro/
/pro/

# 8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days. 

https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :
    
i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [106]:
# Answer i   https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
def journal_name():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    paper_name = soup.find_all('h2', class_='sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR')
    for i in range(0,len(paper_name)):
        print("Paper Name ", i+1, "is ",paper_name[i].text)

In [107]:
journal_name()

Enter the name of cnbc website : https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Paper Name  1 is  Reward is enough
Paper Name  2 is  Making sense of raw input
Paper Name  3 is  Law and logic: A review from an argumentation perspective
Paper Name  4 is  Creativity and artificial intelligence
Paper Name  5 is  Artificial cognition for social human–robot interaction: An implementation
Paper Name  6 is  Explanation in artificial intelligence: Insights from the social sciences
Paper Name  7 is  Making sense of sensory input
Paper Name  8 is  Conflict-based search for optimal multi-agent pathfinding
Paper Name  9 is  Between MDPs and semi-MDPs: A framework for temporal abstraction in reinforcement learning
Paper Name  10 is  The Hanabi challenge: A new frontier for AI research
Paper Name  11 is  Evaluating XAI: A comparison of rule-based and example-based explanations
Paper Name  12 is  Argumentation in artificial intelligence
Paper Name  13 is  Algorithms for computing strategies in two-player simultaneous move games
Paper Name  14 is  Multiple object tracking: A literature review
Paper Name  15 is  Selection of relevant features and examples in machine learning
Paper Name  16 is  A survey of inverse reinforcement learning: Challenges, methods and progress
Paper Name  17 is  Explaining individual predictions when features are dependent: More accurate approximations to Shapley values
Paper Name  18 is  A review of possible effects of cognitive biases on interpretation of rule-based machine learning models
Paper Name  19 is  Integrating social power into the decision-making of cognitive agents
Paper Name  20 is  “That's (not) the output I expected!” On the role of end user expectations in creating explanations of AI systems
Paper Name  21 is  Explaining black-box classifiers using post-hoc explanations-by-example: The effect of explanations and error-rates in XAI user studies
Paper Name  22 is  Algorithm runtime prediction: Methods & evaluation
Paper Name  23 is  Wrappers for feature subset selection
Paper Name  24 is  Commonsense visual sensemaking for autonomous driving – On generalised neurosymbolic online abduction integrating vision and semantics
Paper Name  25 is  Quantum computation, quantum theory and AI

In [108]:
# Answer ii   https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

def journal_author():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    paper_name = soup.find_all('p', class_='sc-1thf9ly-0 sc-1thf9ly-1 ljBYfY bIzabL')
    for i in range(0,len(paper_name)):
        print("Paper Author Name ", i+1, "is ",paper_name[i].text)

In [109]:
journal_author()

Enter the name of cnbc website : https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Paper Author Name  1 is  Silver, David, Singh, Satinder, Precup, Doina, Sutton, Richard S. Open AccessOctober 2021
Paper Author Name  2 is  Evans, Richard, Bošnjak, Matko and 5 moreOpen AccessOctober 2021
Paper Author Name  3 is  Prakken, Henry, Sartor, Giovanni Open AccessOctober 2015
Paper Author Name  4 is  Boden, Margaret A. Open AccessAugust 1998
Paper Author Name  5 is  Lemaignan, Séverin, Warnier, Mathieu and 3 moreOpen AccessJune 2017
Paper Author Name  6 is  Miller, Tim February 2019
Paper Author Name  7 is  Evans, Richard, Hernández-Orallo, José and 3 moreOpen AccessApril 2021
Paper Author Name  8 is  Sharon, Guni, Stern, Roni, Felner, Ariel, Sturtevant, Nathan R. Open AccessFebruary 2015
Paper Author Name  9 is  Sutton, Richard S., Precup, Doina, Singh, Satinder Open AccessAugust 1999
Paper Author Name  10 is  Bard, Nolan, Foerster, Jakob N. and 13 moreOpen AccessMarch 2020
Paper Author Name  11 is  van der Waa, Jasper, Nieuwburg, Elisabeth, Cremers, Anita, Neerincx, Mark Open AccessFebruary 2021
Paper Author Name  12 is  Bench-Capon, T.J.M., Dunne, Paul E. Open AccessOctober 2007
Paper Author Name  13 is  Bošanský, Branislav, Lisý, Viliam and 3 moreOpen AccessAugust 2016
Paper Author Name  14 is  Luo, Wenhan, Xing, Junliang and 4 moreApril 2021
Paper Author Name  15 is  Blum, Avrim L., Langley, Pat Open AccessDecember 1997
Paper Author Name  16 is  Arora, Saurabh, Doshi, Prashant August 2021
Paper Author Name  17 is  Aas, Kjersti, Jullum, Martin, Løland, Anders Open AccessSeptember 2021
Paper Author Name  18 is  Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Johannes Open AccessJune 2021
Paper Author Name  19 is  Pereira, Gonçalo, Prada, Rui, Santos, Pedro A. Open AccessDecember 2016
Paper Author Name  20 is  Riveiro, Maria, Thill, Serge Open AccessSeptember 2021
Paper Author Name  21 is  Kenny, Eoin M., Ford, Courtney, Quinn, Molly, Keane, Mark T. Open AccessMay 2021
Paper Author Name  22 is  Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyton-Brown, Kevin Open AccessJanuary 2014
Paper Author Name  23 is  Kohavi, Ron, John, George H. Open AccessDecember 1997
Paper Author Name  24 is  Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srikrishna Open AccessOctober 2021
Paper Author Name  25 is  Ying, Mingsheng Open AccessFebruary 2010

In [111]:
# Answer iii   https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

def journal_publish_date():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    paper_name = soup.find_all('span', class_='sc-1thf9ly-2 bKddwo')
    for i in range(0,len(paper_name)):
        print("Paper Publish Date of ", i+1, "journal is ",paper_name[i].text)

In [112]:
journal_publish_date()

Enter the name of cnbc website : https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
Paper Publish Date of  1 journal is  October 2021
Paper Publish Date of  2 journal is  October 2021
Paper Publish Date of  3 journal is  October 2015
Paper Publish Date of  4 journal is  August 1998
Paper Publish Date of  5 journal is  June 2017
Paper Publish Date of  6 journal is  February 2019
Paper Publish Date of  7 journal is  April 2021
Paper Publish Date of  8 journal is  February 2015
Paper Publish Date of  9 journal is  August 1999
Paper Publish Date of  10 journal is  March 2020
Paper Publish Date of  11 journal is  February 2021
Paper Publish Date of  12 journal is  October 2007
Paper Publish Date of  13 journal is  August 2016
Paper Publish Date of  14 journal is  April 2021
Paper Publish Date of  15 journal is  December 1997
Paper Publish Date of  16 journal is  August 2021
Paper Publish Date of  17 journal is  September 2021
Paper Publish Date of  18 journal is  June 2021
Paper Publish Date of  19 journal is  December 2016
Paper Publish Date of  20 journal is  September 2021
Paper Publish Date of  21 journal is  May 2021
Paper Publish Date of  22 journal is  January 2014
Paper Publish Date of  23 journal is  December 1997
Paper Publish Date of  24 journal is  October 2021
Paper Publish Date of  25 journal is  February 2010

In [113]:
# Answer iv   https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

def journal_url():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    paper_link = soup.find_all('li', class_='sc-9zxyh7-1 sc-9zxyh7-2 exAXfr jQmQZp')
    for i in range(0,len(paper_link)):
        a = paper_link[i].find('a')['href']
        print(a)

In [114]:
journal_url()

Enter the name of cnbc website : https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles
https://www.sciencedirect.com/science/article/pii/S0004370221000862
https://www.sciencedirect.com/science/article/pii/S0004370221000722
https://www.sciencedirect.com/science/article/pii/S0004370215000910
https://www.sciencedirect.com/science/article/pii/S0004370298000551
https://www.sciencedirect.com/science/article/pii/S0004370216300790
https://www.sciencedirect.com/science/article/pii/S0004370218305988
https://www.sciencedirect.com/science/article/pii/S0004370220301855
https://www.sciencedirect.com/science/article/pii/S0004370214001386
https://www.sciencedirect.com/science/article/pii/S0004370299000521
https://www.sciencedirect.com/science/article/pii/S0004370219300116
https://www.sciencedirect.com/science/article/pii/S0004370220301533
https://www.sciencedirect.com/science/article/pii/S0004370207000793
https://www.sciencedirect.com/science/article/pii/S0004370216300285
https://www.sciencedirect.com/science/article/pii/S0004370220301958
https://www.sciencedirect.com/science/article/pii/S0004370297000635
https://www.sciencedirect.com/science/article/pii/S0004370221000515
https://www.sciencedirect.com/science/article/pii/S0004370221000539
https://www.sciencedirect.com/science/article/pii/S0004370221000096
https://www.sciencedirect.com/science/article/pii/S0004370216300868
https://www.sciencedirect.com/science/article/pii/S0004370221000588
https://www.sciencedirect.com/science/article/pii/S0004370221000102
https://www.sciencedirect.com/science/article/pii/S0004370213001082
https://www.sciencedirect.com/science/article/pii/S000437029700043X
https://www.sciencedirect.com/science/article/pii/S0004370221000734
https://www.sciencedirect.com/science/article/pii/S0004370209001398

# 9) Write a python program to scrape mentioned details from dineout.co.in :
i) Restaurant name

ii) Cuisine

iii) Location

iv) Ratings

v) Image URL

In [1]:
#https://www.dineout.co.in/

def restaurent_name():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    paper_name = soup.find_all('h4', class_='_1jbOb')
    for i in range(0,len(paper_name)):
        print("Restaurent Name is ",paper_name[i].text)

In [2]:
restaurent_name()

Enter the name of cnbc website : https://www.dineout.co.in/
Restaurent Name is  Connaught Clubhouse Microbrewery
Restaurent Name is  The Luggage Room By Sandoz
Restaurent Name is  38 Barracks
Restaurent Name is  Master Of Malts

In [7]:
#Answer ii   https://www.dineout.co.in/delhi-restaurants/buffet-special



def restaurent_cuisine():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
     
    soup=BeautifulSoup(page.content)
    cuisine = []
    for i in soup.find_all('span',class_="double-line-ellipsis"):
        cuisine.append(i.text)
    print(cuisine)

In [8]:
restaurent_cuisine()

Enter the name of cnbc website : https://www.dineout.co.in/delhi-restaurants/buffet-special
['₹ 2,000 for 2 (approx) | Chinese, North Indian', '₹ 1,680 for 2 (approx) | North Indian, Asian, Italian', '₹ 2,000 for 2 (approx) | Chinese, North Indian', '₹ 3,000 for 2 (approx) | Italian, Continental', '₹ 1,700 for 2 (approx) | North Indian, Chinese', '₹ 2,400 for 2 (approx) | North Indian, Italian', '₹ 1,800 for 2 (approx) | North Indian', '₹ 1,900 for 2 (approx) | North Indian', '₹ 2,200 for 2 (approx) | North Indian, Mughlai']

In [12]:
#Answer iii https://www.dineout.co.in/delhi-restaurants/italian-cuisine

def restaurent_loc():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    loc = soup.find_all('div', class_='restnt-loc ellipsis')
    for i in range(0,len(loc)):
        print("Restaurent location is ",loc[i].find('a').text)

In [13]:
restaurent_loc()

Enter the name of cnbc website : https://www.dineout.co.in/delhi-restaurants/italian-cuisine
Restaurent location is  Worldmark 2,
Restaurent location is  Gwal Pahari
Restaurent location is  Moti Bagh
Restaurent location is  Ashok Vihar Phase - 3
Restaurent location is  Sector 135
Restaurent location is  Kalkaji
Restaurent location is  Mehrauli
Restaurent location is  PVR Plaza,
Restaurent location is  The Leela Palace,
Restaurent location is  ITC Maurya,
Restaurent location is  The Claridges,
Restaurent location is  JW Mariott Hotel New Delhi Aerocity,
Restaurent location is  PVR Anupam Complex,
Restaurent location is  Holiday Inn,
Restaurent location is  Ansal Plaza Mall,
Restaurent location is  DDA Complex,
Restaurent location is  Rajouri Garden
Restaurent location is  Mehar Chand Market,
Restaurent location is  Karma Lakelands,
Restaurent location is  Sector 22
Restaurent location is  Dwarka

In [17]:
#Answer iv https://www.dineout.co.in/delhi-restaurants/italian-cuisine

def restaurent_ratings():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp, 'html5lib')
    loc = soup.find_all('div', class_='restnt-rating rating-4')
    for i in range(0,len(loc)):
        print("Restaurent Rating is ",loc[i].text)

In [18]:
restaurent_ratings()

Enter the name of cnbc website : https://www.dineout.co.in/delhi-restaurants/italian-cuisine
Restaurent Rating is  4.1
Restaurent Rating is  4.4
Restaurent Rating is  4.1
Restaurent Rating is  3.9
Restaurent Rating is  4.4
Restaurent Rating is  4.3

In [25]:
#Answer v https://www.dineout.co.in/delhi-restaurants/italian-cuisine

def restaurent_url():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of cnbc website : ")
    page = requests.get(url)
    temp = page.content
    
    soup = BeautifulSoup(temp)
    images = []
    for i in soup.find_all('img',class_="no-img"):
        images.append(i['data-src'])

    for i in range(0,len(images)):
        print(images[i])

In [26]:
restaurent_url()

Enter the name of cnbc website : https://www.dineout.co.in/delhi-restaurants/italian-cuisine
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/q/v/p58421-16295734196121512be5310.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/l/o/p83352-16003243605f630308a83a0.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/h/a/p102204-1637666194619ccd9270be0.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/a/g/p103764-1644402367620396bf5bd91.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/h/g/p103818-16455363136214e4394b104.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/q/e/p104167-16457083476217843b3c57c.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/j/e/p78-15595552945cf4ecde54f95.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/o/b/p1317-15164263275a62d457c112d.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/v/s/p1500-14648753265750393ebee33.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/r/p/p2917-14639996715742dcb75b8e2.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/s/n/p2946-15854614295e8038b5181b6.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/g/i/p12809-144948765956656d2b0007f.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/h/y/p21966-1467101510577231468e696.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/d/i/p22309-147435905257e0ef0c57ba6.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/t/y/p28580-1637582627619b872315619.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/w/d/p35287-15141992665a40d8e261cbe.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/c/k/p37962-15268826035b02612bcd1b8.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/q/y/p4837-15656920305d52907edc23e.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/r/p51539-16085429365fe06ad89691d.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/p/p54570-15535100425c98ae9a6d9e2.jpg?tr=tr:n-medium
https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/j/t/p77743-162667596760f51aff32c82.jpg?tr=tr:n-medium

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en
    
i) Rank

ii) Publication

iii) h5-index

iv) h5-median

In [35]:
#Answer     https://scholar.google.com/citations?view_op=top_venues&hl=en

def google_scholar():
    from bs4 import BeautifulSoup
    import requests
    url = input("Enter the name of Google Scholar website : ")
    page = requests.get(url)
    
    soup = BeautifulSoup(page.text, 'html.parser')
    res = soup.find_all('td')

    gs = []

    for i in range(0,len(res),4):
        n1 = res[i].text.strip()
        n2 = res[i+1].text.strip()
        n3 = res[i+2].text.strip()
        n4 = res[i+3].text.strip()
        gs.append([n1, n2, n3, n4])
    
    for i in range(0,10):
        print(gs[i])

    import pandas as pd
    df = pd.DataFrame(data=gs,columns=["Rank", "Publication", "h5-index", "h5-median"])
    return(df)

In [36]:
a = google_scholar()
a

Enter the name of Google Scholar website : https://scholar.google.com/citations?view_op=top_venues&hl=en
['1.', 'Nature', '444', '667']
['2.', 'The New England Journal of Medicine', '432', '780']
['3.', 'Science', '401', '614']
['4.', 'IEEE/CVF Conference on Computer Vision and Pattern Recognition', '389', '627']
['5.', 'The Lancet', '354', '635']
['6.', 'Advanced Materials', '312', '418']
['7.', 'Nature Communications', '307', '428']
['8.', 'Cell', '300', '505']
['9.', 'International Conference on Learning Representations', '286', '533']
['10.', 'Neural Information Processing Systems', '278', '436']

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]