   # WEB SCRAPING – ASSIGNMENT 2
   
1. All the questions must be done in a single Jupyter notebook.
2. There should be proper comments in code.

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.

This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [22]:
#importing required libraries
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [2]:
#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

In [3]:
#opening naukri page on authomated chrome browser
driver.get("https://www.naukri.com/")

In [16]:
#Entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Analyst')

location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

#location=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input").send_keys('Bangalore')

In [17]:
#Clicking the submit button
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [18]:
#Declaring 4 empty lists to store job title, location , name and experience to be scrapped fromt the web page
job_title = []
job_location = []
company_name = []
experience_required = []

In [19]:
#scraping jobtitle from the given page
title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#scraping joblocation from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    title=i.text
    job_location.append(title)
    
 #scraping company from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    title=i.text
    company_name.append(title)
    
#scraping job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    title=i.text
    experience_required.append(title)

In [20]:
#To find lengths of the lists
print(len(job_title), len(job_location), len(company_name), len(experience_required))

10 10 10 10

In [21]:
#creating data frome and displaying it
df=pd.DataFrame({'Job Title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,Job Title,job_location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru(Old Madras Road),KrazyBee,3-6 Yrs
1,Sr. Data Analyst,"Bangalore/Bengaluru, Pune",Global Indian School Education Services,6-11 Yrs
2,Master Data Management Business Analyst,Bangalore/Bengaluru,Accenture,6-8 Yrs
3,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
4,Intern Data Analyst,Bangalore/Bengaluru,FullStackTechies,0-1 Yrs
5,Data Analyst - Python/Artificial Intelligence,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",iMindYourBusiness,0-2 Yrs
6,Lead Data Analyst,Bangalore/Bengaluru,McAfee,5-9 Yrs
7,Data Analyst,Bangalore/Bengaluru,Bayer,2-5 Yrs
8,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
9,Forecasting Analyst/ Data Scientist (US Client),"Bangalore/Bengaluru, Gurgaon/Gurugram\n(WFH du...",Concentrix,3-8 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.

This task will be done in following steps:
    
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the
location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.
Note: All of the above steps have to be done in code. No step is to be done manually.

In [1]:
def get_naukariscrapping():
    import selenium
    import pandas as pd
    from selenium import webdriver
    import warnings
    warnings.filterwarnings('ignore')
    from selenium.webdriver.common.by import By
    import time
    
    #Connect to the driver
    driver = webdriver.Chrome(r"chromedriver.exe")
    
    #opening naukri page on authomated chrome browser
    driver.get("https://www.naukri.com/")
    
    #Entering designation and location as required in the question
    designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
    designation.send_keys('Data Scientist')

    location = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[3]/div/div/div[5]/div/div/div/input")
    location.send_keys('Bangalore')
    
    #Clicking the submit button
    search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
    search.click()
    time.sleep(5)
   
    #Declaring 3 empty lists to store job title, location and name to be scrapped fromt the web page
    job_title = []
    job_location = []
    company_name = []

    #scraping jobtitle from the given page
    title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in title_tags[0:10]:
        title=i.text
        job_title.append(title)
    
    #scraping joblocation from the given page
    location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
    for i in location_tags[0:10]:
        title=i.text
        job_location.append(title)
    
     #scraping company from the given page
    company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
    for i in company_tags[0:10]:
        title=i.text
        company_name.append(title)
        
    #scraping job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    title=i.text
    experience_required.append(title)
    
    #creating data frome and displaying it
    df=pd.DataFrame({'Job Title':job_title,'job_location':job_location,'company_name':company_name})
    return(df)

In [2]:
df=get_naukariscrapping()
df

,Job Title,job_location,company_name
0,Tcs Hiring For Data Scientist,"Bangalore/Bengaluru, Chennai, Mumbai (All Areas)",TATA CONSULTANCY SERVICES (TCS)
1,Senior Manager - EmTech - Machine Learning - P&T,"Bangalore/Bengaluru, Mumbai, Hyderabad/Secunde...",PwC
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
6,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
7,Data Scientist Python,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Conduent
8,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
9,Data Scientist,"Bangalore/Bengaluru, New Delhi, Pune, Gurgaon/...",ZS Associates

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:


You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required.
The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:

1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data.

Note: All of the above steps have to be done in code. No step is to be done manually.

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import NoSuchElementException, StaleElementReferenceException
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening naukri page on authomated chrome browser
driver.get("https://www.naukri.com/")

#Entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys('Data Scientist')

In [5]:
#Clicking the submit button
search = driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()
time.sleep(5)

In [6]:
#Clicking the Delhi / NCR check box
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[5]/div[2]/div[3]/label/i")
search.click()

In [7]:
#Clicking the 3-6 Lakhs check box under salary
search = driver.find_element(By.XPATH,"/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[6]/div[2]/div[2]/label/p/span[1]")
search.click()

In [8]:

#Declaring 4 empty lists to store job title, location and name to be scrapped fromt the web page
job_title = []
job_location = []
company_name = []
experience_required = []

#scraping jobtitle from the given page
try:
    title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
    for i in title_tags[0:10]:
        title=i.text
        job_title.append(title)
except NoSuchElementException:  #spelling error making this code not work as expected
    pass

#scraping joblocation from the given page
location_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi location"]')
for i in location_tags[0:10]:
    title=i.text
    job_location.append(title)

#scraping company from the given page
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    title=i.text
    company_name.append(title)
    

#scraping job Experience from the given page
experience_tags=driver.find_elements(By.XPATH,'//li[@class="fleft grey-text br2 placeHolderLi experience"]')
for i in experience_tags[0:10]:
    title=i.text
    experience_required.append(title)
    

#creating data frome and displaying it
df=pd.DataFrame({'Job Title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,Job Title,job_location,company_name,experience_required
0,Job||Job Opening For AI Technologist - Data Sc...,"New Delhi, Hyderabad/Secunderabad, Pune, Chenn...",Wipro,5-10 Yrs
1,Data Scientist - Noida/Bangalore,"Noida, Bangalore/Bengaluru",EXL,5-10 Yrs
2,DigitalBCG GAMMA Data Scientist,"New Delhi, Bangalore/Bengaluru",Boston Consulting Group,2-5 Yrs
3,Data Scientist - Predictive Analytics,"Noida, Mumbai, Chandigarh, Hyderabad/Secundera...",Confidential,1-6 Yrs
4,Data Scientist,Gurgaon/Gurugram,Optum,2-7 Yrs
5,Chat-bot Developer / Data Scientist,"Mumbai, New Delhi, Bangalore/Bengaluru\n(WFH d...",Big Seo Buzz,2-7 Yrs
6,Data Scientist / Chat-bot Developer,"New Delhi, Bangalore/Bengaluru, Mumbai (All Ar...",Big Seo Buzz,3-7 Yrs
7,Data Scientist - Engine Algorithm,"Delhi / NCR, Kolkata, Mumbai, Hyderabad/Secund...",Primo Hiring,1-3 Yrs
8,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
9,Data Scientist,"Noida, Gurgaon/Gurugram, Jaipur",Celebal Technologies,1-5 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:

1. Brand
2. Product Description
3. Price

The attributes which you have to scrape is ticked marked in the below image.

To scrape the data you have to go through following steps:

1. Go to Flipkart webpage by url : https://www.flipkart.com/
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon
3. After that you will reach to the page having a lot of sunglasses. From this page you can scrap the required data as usual.
ASSIGNMENT 2

4. After scraping data from the first page, go to the “Next” Button at the bottom other page , then click on it.
5. Now scrape data from this page as usual
6. Repeat this until you get data for 100 sunglasses.

Note: That all of the above steps have to be done by coding only and not manually.

In [13]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening flipkart page on authomated chrome browser
driver.get("https://www.flipkart.com/")

In [14]:
#Entering sunglasses in the search box
article = driver.find_element(By.CLASS_NAME,"_3704LK")
article.send_keys('sunglasses')

#Clicking the search icon
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [26]:
#Declaring 3 empty lists for storing Brand, product description and price
brand = []
prod_desc = []
price = []

try:
    for i in range(1,5):
      
        brand_tag=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
        prod_tag=driver.find_elements(By.CLASS_NAME,"IRpwTa")
        price_tag=driver.find_elements(By.CLASS_NAME,"_3bPFwb")
        
        time.sleep(10)
        
        for i in brand_tag:
            brand.append(i.text)
        
        for i in prod_tag:
            prod_desc.append(i.text)
        
        for i in price_tag:
            price.append(i.text)
        
        #Clicking on next page and scraping other detail
        nextpage=driver.find_element(By.CLASS_NAME, '_1LKTO3')
        nextpage.click()
    
        if(len(brand)<100):
            continue
except:
    print("An error occured")
finally:
    #creating data frome and displaying it
    df=pd.DataFrame({'Brand':brand,'Product Description':prod_desc,'Price':price})
    df

An error occured

In [28]:
#Declaring 3 empty lists for storing Brand, product description and price
brand = []
prod_desc = []
price = []

try:
    for i in range(1,5):
      
        brand_tag=driver.find_elements(By.CLASS_NAME,"_2WkVRV")
        prod_tag=driver.find_elements(By.CLASS_NAME,"IRpwTa")
        price_tag=driver.find_elements(By.CLASS_NAME,"_3bPFwb")
        
        time.sleep(10)
        
        
        
        for i in brand_tag:
            brand.append(i.text)
            if(len(brand)>98):
                break
         
        
        for i in prod_tag:
            prod_desc.append(i.text)
            if(len(prod_desc)>98):
                break
        
        for i in price_tag:
            price.append(i.text)
            if(len(price)>98):
                break
        
        #Clicking on next page and scraping other detail
        nextpage=driver.find_element(By.CLASS_NAME, '_1LKTO3')
        nextpage.click()
    
        if(len(brand)<100):
            continue
except:
    print("An error occured")
finally:
    #creating data frome and displaying it
    df=pd.DataFrame({'Brand':brand,'Product Description':prod_desc,'Price':price})
    df

,Brand,Product Description,Price
0,GANSTA,"Night Vision, Riding Glasses Rectangular Sungl...","₹242₹1,29981% off\nFree delivery"
1,ROYAL SON,Mirrored Aviator Sunglasses (58),"₹379₹1,49974% off\nFree delivery"
2,kingsunglasses,"Mirrored, UV Protection Wayfarer Sunglasses (F...","₹269₹1,49982% off\nFree delivery"
3,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹749₹2,50070% off\nFree delivery"
4,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹759₹89915% off\nFree delivery
5,PIRASO,UV Protection Aviator Sunglasses (54),"₹279₹1,59982% off\nFree delivery"
6,Fastrack,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹679₹79915% off
7,john jacobs,UV Protection Round Sunglasses (53),"₹3,325₹5,00033% off\nFree delivery"
8,ROZZETTA CRAFT,"UV Protection, Gradient Retro Square Sunglasse...","₹349₹1,99982% off\nFree delivery"
9,New Specs,UV Protection Rectangular Sunglasses (Free Size),"₹189₹1,59988% off\nFree delivery"
10,ROZZETTA CRAFT,"UV Protection, Gradient Round Sunglasses (Free...","₹399₹1,99980% off"
11,VINCENT CHASE,by Lenskart UV Protection Aviator Sunglasses (53),"₹1,229₹1,99938% off\nFree delivery"
12,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹669₹89925% off\nFree delivery
13,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),"₹649₹2,55574% off\nFree delivery"
14,Sewell,"Mirrored, Night Vision, UV Protection, Riding ...","₹279₹1,49981% off\nFree delivery"
15,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹999₹1,99950% off\nFree delivery"
16,VINCENT CHASE,"Polarized, UV Protection Rectangular Sunglasse...","₹949₹2,50062% off\nFree delivery"
17,SRPM,UV Protection Wayfarer Sunglasses (53),₹235₹99876% off\nFree delivery
18,EYELLUSION,"Riding Glasses, Riding Glasses, UV Protection ...",₹199₹99980% off\nFree delivery
19,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,049₹1,99947% off\nFree delivery"
20,ROYAL SON,Mirrored Aviator Sunglasses (Free Size),"₹379₹1,49974% off\nFree delivery"
21,VINCENT CHASE,"by Lenskart Polarized, UV Protection Wayfarer ...","₹849₹1,99957% off\nFree delivery"
22,GANSTA,"Gradient, UV Protection Aviator Sunglasses (57)","₹314₹1,99984% off"
23,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,415₹1,99929% off\nFree delivery"
24,New Specs,UV Protection Round Sunglasses (Free Size),"₹268₹1,29979% off\nFree delivery"
25,kingsunglasses,UV Protection Round Sunglasses (54),₹214₹99978% off\nFree delivery
26,Lee Topper,UV Protection Rectangular Sunglasses (Free Size),₹219₹99978% off\nFree delivery
27,VINCENT CHASE,"by Lenskart Polarized, UV Protection Cat-eye S...","₹849₹1,99957% off\nFree delivery"
28,VINCENT CHASE,"Polarized, UV Protection Round Sunglasses (50)","₹949₹1,99952% off\nFree delivery"
29,AISLIN,"UV Protection, Gradient Butterfly, Over-sized ...","₹675₹2,60074% off\nFree delivery"
30,ROYAL SON,"Polarized, UV Protection Wayfarer, Retro Squar...","₹664₹1,99966% off\nFree delivery"
31,VINCENT CHASE,"by Lenskart Polarized, UV Protection Rectangul...","₹749₹1,99962% off\nFree delivery"
32,ROYAL SON,Mirrored Aviator Sunglasses (55),"₹379₹1,49974% off\nFree delivery"
33,kingsunglasses,"Mirrored, UV Protection Wayfarer, Rectangular ...","₹289₹1,99985% off\nFree delivery"
34,PIRASO,UV Protection Over-sized Sunglasses (65),"₹410₹2,59984% off\nFree delivery"
35,VINCENT CHASE,"by Lenskart Polarized, UV Protection Aviator S...","₹1,415₹1,99929% off\nFree delivery"
36,Rich Club,UV Protection Round Sunglasses (50),₹399₹99960% off\nFree delivery
37,Elligator,UV Protection Round Sunglasses (53),₹207₹99879% off\nFree delivery
38,kingsunglasses,UV Protection Oval Sunglasses (Free Size),₹208₹99979% off\nFree delivery
39,CRYSTAL CART,"Polarized, UV Protection, Gradient, Riding Gla...","₹349₹1,49976% off\nFree delivery"

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.

This task will be done in following steps:

1. First get the webpage https://www.flipkart.com/
2. Enter “iphone 11” in “Search” field .
3. Then click the search button.

You will reach to the below shown webpage .

As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews.
Note: All the steps required during scraping should be done through code only and not manually.

In [31]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening flipkart page on authomated chrome browser
driver.get("https://www.flipkart.com/")

In [32]:
#Entering iphone 11 in search box
article = driver.find_element(By.CLASS_NAME,"_3704LK")
article.send_keys('iphone 11')

#Clicking the search icon
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [33]:
#Clicking on review
nextpage=driver.find_element(By.CLASS_NAME, '_1lRcqv')
nextpage.click()

In [34]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/product-reviews/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART")

In [35]:
#Declaring 3 empty lists for storing rating, review and full review


rating = []
review = []
full_review = []

try:
    for i in range(1,5):
      
        rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
        review_tag=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
        fr_tag=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
        
        time.sleep(2)
        
        #Storing rating in rating list     
        for i in rating_tag:
            rating.append(i.text)
            if(len(rating)>98):
                break
         
        #Storing review in revoew list
        for i in review_tag:
            review.append(i.text)
            if(len(review)>98):
                break
        
        #Storing full review in full_review list
        for i in fr_tag:
            full_review.append(i.text)
            if(len(full_review)>98):
                break
        
        #Clicking on next page and scraping other detail
        nextpage=driver.find_element(By.CLASS_NAME, '_1LKTO3')
        nextpage.click()
    
        #loop continues if 100 elements are not stored in ratings
        if(len(rating)<100):
            continue
except:
    print("An error occured")
finally:
    #creating data frome and displaying it
    df=pd.DataFrame({'Rating':rating,'Review':review,'Full Review':full_review})
    df

An error occured

In [36]:
df

,Rating,Review,Full Review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Worth every penny,Previously I was using one plus 3t it was a gr...
4,5,Highly recommended,What a camera .....just awesome ..you can feel...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
6,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
7,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
8,5,Highly recommended,It's my first time to use iOS phone and I am l...
9,4,Good choice,So far it’s been an AMAZING experience coming ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.

You have to scrape 4 attributes of each sneaker:
    
1. Brand
2. Product Description
3. Price

As shown in the below image, you have to scrape the tick marked attributes.

Note: All the steps required during scraping should be done through code only and not manually.

In [11]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening flipkart page on authomated chrome browser
driver.get("https://www.flipkart.com/")

#Clicking the close button in loging box and closing it 
search = driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]')
search.click()

In [12]:
#Entering sneakers in the search box
article = driver.find_element(By.CLASS_NAME,"_3704LK")
article.send_keys('sneakers')

#Clicking the search icon
search = driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")
search.click()

In [13]:
brand = []
prod_desc = []
price = []

def print_100sneakers():
    #finding three elements brand, product description and price
    brand_tag=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    prdesc_tag=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    price_tag=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
        
        #requesting the website to not change elements for the given seconds
    time.sleep(1)
        
             
         #Storing brand in brand list     
    for i in brand_tag:
        brand.append(i.text)
        if(len(brand)>99):
            break
         
        #Storing product description in prod_desc list
    for i in prdesc_tag:
        prod_desc.append(i.text)
        if(len(prod_desc)>99):
            break
        
        #Storing price in price list
    for i in price_tag:
        price.append(i.text)
        if(len(price)>99):
            break
        
        #Clicking on next page and scraping other detail
    nextpage=driver.find_element(By.XPATH, '//a[@class="_1LKTO3"]')
    nextpage.click()

In [18]:
#loop will iterate three times to store elements from 3 pages
for i in range(1,4):
    try:
        print_100sneakers()
    except:
        print("Error")
    finally:
        #Entering Nan or 0 if the element does not have a value
        NaN="None"
        if(len(brand) < 100):
            brand += (100-len(brand)) * [NaN]
        elif(len(prod_desc) < 100):
            prod_desc += (100-len(prod_desc)) * [NaN]
        elif(len(price) < 100):
            price += (100-len(price)) * [0]
        else:
            print(" ")

Error

In [21]:
#Creating data frame with first 100 elements in each
df=pd.DataFrame({'Brand':brand[0:100],'Product Description':prod_desc[0:100],'Price':price[0:100]})

In [22]:
df

          Brand                                Product Description   Price
0   ZF - ALFIYA                                 Sneakers For Women    ₹499
1      RapidBox  Mesh | Ultralightweight | Comfortable | Breath...    ₹374
2          aadi             Puma Smash Wns v2 L Sneakers For Women  ₹1,542
3          PUMA  Super Stylish & Trendy Combo Pack of 02 Pairs ...    ₹544
4        Chevit                                   Sneakers For Men    ₹399
..          ...                                                ...     ...
95          NaN                                   Sneakers For Men  ₹5,490
96          NaN                                 Sneakers For Women  ₹1,747
97          NaN                           Caracal Sneakers For Men    ₹351
98          NaN                                   Sneakers For Men    ₹297
99          NaN  Unique & Perfect Collection Combo Pack of 02 S...    ₹650

[100 rows x 3 columns]

# Q7: Go to the link - https://www.myntra.com/shoes Set second Price filter and Color filter to “Black”, as shown in the below image.

And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe
description, price of the shoe as shown in the below image.

Note: Applying the filter and scraping the data, everything should be done through code only and there
should not be any manual step.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening myntra page on authomated chrome browser
driver.get("https://www.myntra.com/shoes")

In [6]:
#Clicking on black color check box
clbox = driver.find_element(By.XPATH,'//label[@class="common-customCheckbox"]')
clbox.click()

#Clicking on second price range check box
spr = driver.find_element(By.XPATH,"/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")
spr.click()

In [7]:
brand = []
prod_desc = []
price = []

In [13]:
def print_100blackshoes():
    #finding three elements brand, product description and price
    brand_tag=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    prdesc_tag=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    price_tag=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
        
        #requesting the website to not change elements for the given seconds
    time.sleep(1)
        
             
         #Storing brand in brand list     
    for i in brand_tag:
        brand.append(i.text)
        if(len(brand)>99):
            break
         
        #Storing product description in prod_desc list
    for i in prdesc_tag:
        prod_desc.append(i.text)
        if(len(prod_desc)>99):
            break
        
        #Storing price in price list
    for i in price_tag:
        price.append(i.text)
        if(len(price)>99):
            break
        
        #Clicking on next page and scraping other detail
    nextpage=driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[2]/div/div[2]/section/div[2]/ul/li[12]/a')
    nextpage.click()

In [14]:
#loop will iterate three times to store elements from 3 pages
for i in range(1,3):
    try:
        print_100blackshoes()
    except:
        print("Error")
    finally:
        #Entering Nan or 0 if the element does not have a value
        NaN="None"
        if(len(brand) < 100):
            brand += (100-len(brand)) * [NaN]
        elif(len(prod_desc) < 100):
            prod_desc += (100-len(prod_desc)) * [NaN]
        elif(len(price) < 100):
            price += (100-len(price)) * [0]
        else:
            print(" ")

Error

In [15]:
#Creating data frame with first 100 elements in each
df=pd.DataFrame({'Brand':brand,'Product Description':prod_desc,'Price':price})

In [17]:
df

         Brand             Product Description                        Price
0     Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999(20% OFF)
1         Nike  Men ZOOM WINFLO8 Running Shoes    Rs. 7465Rs. 8295(10% OFF)
2         Nike    Men React Infinity 3 Running  Rs. 11895Rs. 13995(15% OFF)
3         Nike      Men Colourblocked Sneakers                    Rs. 10795
4     Skechers      Men Max Cushioning Running    Rs. 7199Rs. 8999(20% OFF)
..         ...                             ...                          ...
96     fitflop       Women Leather Wedge Pumps                     Rs. 8499
97        ALDO        Men Black Woven Sneakers                    Rs. 12999
98        ALDO       Men Woven Design Sneakers                    Rs. 10999
99   J.FONTINI       Men Black Leather Loafers                     Rs. 8490
100     Clarks                                                     Rs. 7499

[101 rows x 3 columns]

In [31]:
print(" ")

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon.

Then set CPU Type filter to “Intel Core i7” as shown in the below image:

After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:

1. Title
2. Ratings
3. Price

Note: All the steps required during scraping should be done through code only and not manually.

In [42]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening amazon page on authomated chrome browser
driver.get("https://www.amazon.in/")

In [43]:
#inserting Laptop in search box
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('Laptop')

#Clicking on search icon
spr = driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
spr.click()

In [44]:
#Clicking on "Intel Core i7” check box
spr = driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[13]/span/a/div")
spr.click()

In [64]:
#Declaring 3 empty lists to store title, rating and price of laptops
title = []
rating = []
price = []

#finding three elements title, rating and price
title_tag=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')

rating_tag=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]')

price_tag=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
        
#requesting the website to not change elements for the given seconds
time.sleep(1)
        
             
#Storing title in title list     
for i in title_tag:
    title.append(i.text)
         
#Storing rating in rating list
for i in rating_tag:
    rating.append(i.text)
        
#Storing price in price list
for i in price_tag:
    price.append(i.text)

In [65]:
df=pd.DataFrame({'Title':title[0:10],'Rating':rating[0:10],'Price':price[0:10]})
df

                                               Title Rating     Price
0  Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...     68    84,990
1  Samsung Galaxy Book2 Intel 12th Gen core i7 39...     26    79,490
2  Samsung Galaxy Book2 Intel 12th Gen core i7 39...     26    79,490
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...     26    57,985
4  ASUS TUF Gaming F15 (2022), 15.6-inch (39.62 c...     24  1,09,990
5  Acer Predator Helios 300 12th Gen Intel Core i...      4  1,54,990
6  Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...     23    62,990
7  Lenovo ThinkPad E14 Intel Core i7 11th Gen 14-...      3    94,990
8  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...      1    81,990
9  ASUS TUF Gaming F15 (2022), 15.6" (39.62 cms) ...      6  1,09,990

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida

location. You have to scrape company name, No. of days ago when job was posted, Rating of the company.
This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

Note: All the steps required during scraping should be done through code only and not manually.

In [1]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening amazon page on authomated chrome browser
driver.get("https://www.ambitionbox.com/")

In [2]:
#clicking on jobs
jobs = driver.find_element(By.XPATH,'//a[@href="jobs"]')
jobs.click()

In [3]:
#inserting Data Scientist in search box
search = driver.find_element(By.XPATH,'//input[@title="Enter Designation, Company or a Skill"]')
search.send_keys("Data Scientist")

In [4]:
#clicking on search button
search = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[1]/div/div/div/button/span')
search.click()

In [5]:
#clicking on location button
search = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[1]/i')
search.click()

In [6]:
search = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input')
search.send_keys('Noida')

In [7]:
#clicking on Noida
search = driver.find_element(By.XPATH,'/html/body/div/div/div/div[2]/div[1]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label')
search.click()

In [47]:

#Declaring 3 empty lists to store company, experience and salary 
com = []
exp = []
sal = []

#finding three elements company, experience and salary
com_tag=driver.find_elements(By.XPATH,'//div[@class="company-info"]')

exp_tag=driver.find_elements(By.CSS_SELECTOR, 'p.body-small-l')

sal_tag=driver.find_elements(By.CSS_SELECTOR, 'p.body-small-l')
#sal_tag=driver.find_elements(By.XPATH,'//*[contains(text(), " LPA")]')
        
#requesting the website to not change elements for the given seconds
time.sleep(1)
        
             
#Storing company name in com list     
for i in com_tag:
    com.append(i.text)
         
#Storing experience in exp list
n=0
for i in exp_tag:
    if(n%4==0):
        exp.append(i.text)
    n+=1
        
#Storing salary in sal list
for i in sal_tag:
    sal.append(i.text)

#storing every 4th element in new list for salary package
newl = []
for i in range(1,43,4):
    newl.append(sal[i])

In [48]:
df=pd.DataFrame({'Company':com[0:10],'Experience':exp[0:10],'Salary':newl[0:10]})
df

,Company,Experience,Salary
0,CBRE South Asia Pvt Ltd\n · \n4.3\nbased on 2....,5-9 years,₹ 10-20 LPA
1,CBRE South Asia Pvt Ltd\n4.3\n(2.3k Reviews),5-9 Yrs,₹ 10-20 LPA
2,GENPACT India Private Limited\n4.0\n(19.9k Rev...,7-12 Yrs,Not Disclosed
3,Genpact\n4.0\n(19.9k Reviews),6-10 Yrs,Noida
4,Ericsson India Global Services Pvt. Ltd.\n4.3\...,Not Disclosed,Noida
5,GENPACT India Private Limited\n4.0\n(19.9k Rev...,Not Disclosed,"Ghaziabad, Gurgaon/Gurugram, Noida"
6,Optum Global Solutions (India) Private Limited...,Not Disclosed,Noida
7,Optum Global Solutions (India) Private Limited...,Not Disclosed,Noida
8,Ericsson India Global Services Pvt. Ltd.\n4.3\...,Not Disclosed,Noida
9,SOPRA STERIA INDIA LIMITED\n4.2\n(1.2k Reviews),Not Disclosed,"Chennai, Bengaluru/Bangalore, Noida"

# Q10: Write a python program to scrape the salary data for Data Scientist designation.

You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.
The above task will be, done as shown in the below steps:

1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image.
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”. 

You have to scrape the data ticked in the above image.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.

5. Store the data in a dataframe. Note: All the steps required during scraping should be done through code only and not manually.You

In [73]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

#Connect to the driver
driver = webdriver.Chrome(r"chromedriver.exe")

#opening amazon page on authomated chrome browser
driver.get("https://www.ambitionbox.com/")

In [74]:
#clicking on salaries
sal = driver.find_element(By.XPATH,'/html/body/div[1]/nav[2]/div/ul/li[3]/a')
sal.click()

In [76]:
#inserting Data Scientist in search box
search = driver.find_element(By.XPATH,'/html/body/section[1]/div/div/div/div[2]/form/span/input')
search.send_keys('Data Scientist')

In [78]:
#clicking on search button
sal = driver.find_element(By.XPATH,'/html/body/section[1]/div/div/div/div[2]/form/div[2]/input')
sal.click()

In [79]:
#clicking on page
sal = driver.find_element(By.XPATH,'/html/body/section[1]/div/section/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
sal.click()

In [71]:

#Declaring 6 empty lists to store company, experience, Total salary and min , max ,avg salary 
com = []
exp = []
comdtl = []
minsal = []
maxsal = []
avgsal = []

#finding 6 elements company, detail, experience and min , max ,avg salary

com_tag=driver.find_elements(By.XPATH,'//*[@id="col-left"]/div[5]/div[2]/div[2]/div[1]/div[1]/div/div/div[1]/a')

exp_tag=driver.find_elements(By.XPATH, '//div[@class="sbold-list-header"]')

comdtl_tag=driver.find_elements(By.XPATH, '//span[@class="jp"]')

minsal_tag=driver.find_elements(By.CLASS_NAME,'value body-medium')

maxsal_tag=driver.find_elements(By.XPATH, '//p[@class="averageCtc"]')

avgsal_tag=driver.find_elements(By.XPATH, '//div[@class="salary-values"]')

        
#requesting the website to not change elements for the given seconds
time.sleep(1)
        
             
#Storing company in com list     
for i in com_tag:
    com.append(i.text)
         
#Storing experience in exp list
for i in exp_tag:
    exp.append(i.text)
   
 #Storing company detail in comdtl list
for i in comdtl_tag:
    comdtl.append(i.text)

           
#Storing minimum salary in minsal list     
for i in minsal_tag:
    minsal.append(i.text)
         
#Storing maximum salary in maxsal list
for i in maxsal_tag:
    maxsal.append(i.text)
            
#Storing average salary in avgsal list
for i in avgsal_tag:
    avgsal.append(i.text)

In [82]:
df=pd.DataFrame({'Company':com[0:10],'Experience':exp[0:10],'Company Detail':comdtl[0:10],'Min Salary':minsal[0:10],'Max Salary':maxsal[0:10],'Avg Sal':avgsal[0:10]})
df

Empty DataFrame
Columns: [Company, Experience, Company Detail, Min Salary, Max Salary, Avg Sal]
Index: []